@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --bg: #FDFFEF;
  --bgo: #EEF1D7;
  --accent: #54731C;
;
}

html {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}

@mixin top-left-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: unset;
  right: unset;
}

@mixin interactive {
  background-color: var(--bgo);
  border-radius: 5px;
  border: 2px solid var(--accent);
}

@mixin flex-column {
  flex-flow: column nowrap;
  gap: 5px;
  display: flex;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  
  #nav {
    
    @include top-left-fixed;
    @include interactive;
    
    padding: 15px;
    margin: 15px;
    z-index: 2;
    max-width: 250px;
  
    @include flex-column;
  
    display: none;
    
    &.active {
      display: flex;
    }
  
    #site {
      $site-size: 100px;
      width: $site-size;
      height: $site-size / 2 ;
      background-size: $site-size;
      background-repeat: no-repeat;
      background-image: url("../../assets/coy.svg");
    }
    
    #table-of-contents {
      @include flex-column
    }
  }


  
  #background-container {
    
    @include top-left-fixed;
    z-index: -1;
    $header-height: 50vh; // 250px;
    opacity: 0.5;
    width: 100%;
    height: $header-height;
    
    #background {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(30deg, red, orange, yellow, green, blue, indigo, violet);
    }
    
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bg) 100%);
      width: 100%;
      height: $header-height;
    }
    
  }
  
  #main {
    padding: 15px;
    max-width: 600px;
    margin: auto;
  }
  
  #decryption {
    padding: 15px;

    display: none;
    &.active {
      @include flex-column;
    }
    
    @include top-left-fixed;
    
    .error {
      color: #B94A20;
    }
  }
  
  #overlay {
    @include top-left-fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    display: none;
    
    &.active {
      display: block;
    }
  }
  

  
  #nav-button {
    
    @include top-left-fixed;
    @include interactive;
    padding: 0;
    margin: 15px;
    
    &.active {
      display: none;
    }
    
    .toc-icon {
      width: 25px;
      height: 25px;
      /**
      https://fonts.google.com/icons?selected=Material%20Symbols%20Sharp%3Atoc%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4024
       */
      background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\"  height=\"24\" width=\"24\"><path fill=\"%2354731C\" d=\"M3 9V7H17V9ZM3 13V11H17V13ZM3 17V15H17V17ZM20 17Q19.575 17 19.288 16.712Q19 16.425 19 16Q19 15.575 19.288 15.287Q19.575 15 20 15Q20.425 15 20.712 15.287Q21 15.575 21 16Q21 16.425 20.712 16.712Q20.425 17 20 17ZM20 9Q19.575 9 19.288 8.712Q19 8.425 19 8Q19 7.575 19.288 7.287Q19.575 7 20 7Q20.425 7 20.712 7.287Q21 7.575 21 8Q21 8.425 20.712 8.712Q20.425 9 20 9ZM20 13Q19.575 13 19.288 12.712Q19 12.425 19 12Q19 11.575 19.288 11.287Q19.575 11 20 11Q20.425 11 20.712 11.287Q21 11.575 21 12Q21 12.425 20.712 12.712Q20.425 13 20 13Z\"/></svg>");
    }
  }
  
  a:not([href="/#"]) {
    color: var(--accent);
    text-decoration: none;
    position: relative;
    padding: 2px;
    
    &.active {
      font-weight: bold;
    }
    
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: var(--accent);
      transform: scaleX(0);
      transition: transform 0.3s var(--ease) 0s;
    }
    
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  
  .divider {
    position: relative;
    margin: 10px 0;
    
    &:before {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='4'><path d='M9 2c3 2 6 2 9 0M0 2c3-2 6-2 9 0' stroke='%2354731C'  fill='transparent'/></svg>");
      background-repeat: repeat;
      content: "";
      height: 4px;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 100%;
    }
  }
  
  .meta {
    font-size: 0.5rem;
    font-style: italic;
  }
}

